<!-- src/main/resources/templates/users/register.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<th:block th:replace="partials/header :: header"></th:block>
<h1>Регистрация</h1>
<form th:action="@{/users/register}" th:object="${registerRequest}" method="post">
    <label>Имя пользователя: <input type="text" th:field="*{login}" /></label><br>
    <label>Email: <input type="email" th:field="*{email}" /></label><br>
    <label>Пароль: <input type="password" th:field="*{password}" /></label><br>
    <label>Номер телефона: <input type="text" th:field="*{phoneNumber}" /></label><br>
    <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>
