<!-- src/main/resources/templates/partials/header.html -->
<header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/authors">Авторы</a></li>
            <li><a href="/books">Книги</a></li>
            <li><a href="/users">Пользователи</a></li>
            <li><a href="/users/login">Вход</a></li>
            <li><a href="/users/register">Регистрация</a></li>
            <li><a href="/users/logout">Выйти</a></li>
        </ul>
    </nav>
</header>
<hr>
